dialog {
	// margin-bottom: 200;
	// align: bottom middle;
	max-width: 500;

	text {
		margin: 10;
		align: middle middle;
	}

	#dialog-container {
		background: rgb(0, 0, 0) 0.8;
		#bubble-text {
			min-height: 100;
			min-width: 500;
		}
	}

	#choices-container {
		layout: vertical;
		margin-left: 10;

		button {
			background: #000000 0.8;
			margin-bottom: 5;
			&:hover {
				background: #404040 0.8;
			}
		}
	}
	
	// #button {
	// 	margin:5;
	// 	align: right top;
	// 	min-height:10;
	// 	min-width:10;
	// 	background: url("ui/comp/buttonClose.png") 10 10;
	// }
}

bubble {
	background: rgb(0, 0, 0) 0.8;
	min-height: 100;
	min-width: 500;
}